<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center mobilcls">
            <div class="row">
                <h1>SMS SENDER ANALYTICS</h1>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 details text-center" ng-show="visible">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <label>Enter Mobile Number</label>
                    <div class="row">
                        <input type="number" name="mobile" ng-model="mobile" placeholder="Enter Mobile Number" class="inpcl">
                    </div>
                </div>
                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 contcls">
                    <div class="row">
                        <button ng-click="sendmobile(mobile); enablediabl()" class="btn btn-primary form-control">Continue</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 details text-center" ng-show="visible1">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8 text-center">
                            <div class="row">
                                <label>Please Upload File Here</label>
                                <input type="file" name="xmlfile" file-model="xmlfile" ng-model="xmlfile" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                            <div class="row">
                                <button class="btn btn-primary btns" ng-click="uploadxmlfile(xmlfile, mobile)">Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4">
                            <div class="row">
                                <button class="btn btn-primary contcls form-control" ng-click="getcontent(mobile);makedisable()">View Dashboard</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="margin-top: 10%;" ng-show="visible2">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8 col-md-offset-1 col-md-10 text-center" id="rcorners" ng-repeat="data in dashboarddata">
                    <div class="row">
                        <label>Date:</label>
                        <p>{{data.date }}</p>
                        <label>Bank:</label>
                        <p>{{data.address}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="saveresponse">
    <div class="modal-header text-center" style="background-color: #308093;">
        <h4 style="color: white;">File Upload Status</h4>
    </div>
    <div class="modal-body text-center">
        <h4 style="color: #308093;">{{result.message}}</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" id="butnid" ng-click="cancelpopup();" style="background-color: #308093;">&nbsp;OK&nbsp;</button>
    </div>
</script>
<style type="text/css">
.btns {
    margin-top: 25px;
}

.inpcl {
    height: 40px;
}

.contcls {
    margin-top: 30px;
}

.mobilcls {
    margin-top: 5%;
}

.details {
    margin-top: 10%;
}

#rcorners {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
    color: white;
}

@media screen and (max-width: 768px) and (min-width: 320px) {}
</style>
